<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" connectionString="Data Source=DESKTOP-POEI3G7\SQLEXPRESS;Initial Catalog=kuekering_data;User Id=tansy;Password=radityatansy" providerName="System.Data.SqlClient"/>
 <add name="IdentityDB" connectionString="Data Source=DESKTOP-POEI3G7\SQLEXPRESS;Initial Catalog=kuekering_auth;User Id=tansy;Password=radityatansy" providerName="System.Data.SqlClient" /> 
 <add name="ErrLoggerDB" connectionString="Data Source=DESKTOP-POEI3G7\SQLEXPRESS;Initial Catalog=kuekering_auth;User Id=tansy;Password=radityatansy" providerName="System.Data.SqlClient" />
  <add name="MongoDBData" connectionString="mongodb://localhost:27017/kuekeringcode" />
</connectionStrings>
   